p, a, div {
      font-size: 19px;
      line-height: 1.1em;
}
header {
      text-align: center;
}
body {
  margin-left: 1%;
  margin-right: 1%;
}
.imgForNews img{
  width: 400px;
  height: 250px;
}
.divForNews{
width: 100%;
text-align: center;
background: white;
}
.dropdown-menu li{
  display: none;
  margin-left: 30px;
}
.text-color{
  color: #808080;
  border-color: #101010;
}
.text-color:hover{
  color: #101010;
  border-color: blue;
}
.table-text-align{
  text-align: center;
}
.foot {
      clear: left;
      clear: right;
      height: 50px;
      text-align: left;
      color: #808080;
}
